body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
}

.topnav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #527c4c;
}
  
.topnav li {
    float: left;
}
  
.topnav li a {
    display: block;
    color: white;
    padding: 14px 16px; 
    text-align: center;
    text-decoration: none;
}
  
.topnav li a:hover {
    background-color: #111;
}

.topnav li a#logout:hover {
    background-color: #ff0000;
}

.topnav img {
    display: block;
    margin-top: 6px;
    margin-right: 40px;
    float: right;
}

.main {
    padding-left: 10px;
}

input[type=number], input[type=text], input[type=password] {
    padding: 15px 25px;
    margin: 8px 0;
    border: 2px solid grey;
    border-radius: 8px;
    box-sizing: border-box;
    font-size: medium;
}

input[type=number] {
    width: 12%;
}

input[type=submit], button {
    background-color: #527c4c;
    border: none;
    border-radius: 8px;
    color: white;
    padding: 15px 25px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
    font-size: large;
}

button:hover, input[type=submit]:hover {
    background-color: #41633c;
}

.authorization, .start {
    text-align: center;
    box-shadow: 0 0 7px #D2D2D2;
    margin-right: 30%;
    margin-left: 30%;
    margin-top: 7%;
    background: #ffffff;
    padding-top: 1.5%;
    padding-bottom: 1.5%;
    border-radius: 20px;
    font-family: sans-serif;
}
.start button {
    margin-top: 4%;
    width: 22%
}