{{ define "index" }}

{{ template "layout" }}

    <div class="main">  
        <h1>Введите выражение для вычисления:</h1>
        <form method="POST">
            <label>Выражение:</label><br />
            <input type="text" name="expression" placeholder="введите выражение" required autofocus><br />
            <input type="submit">
        </form>
        <h4>Разрешенные операции:</h4>
        <ul>
            <li>Сложение ( + )</li>
            <li>Вычитание ( - )</li>
            <li>Умножение ( * )</li>
            <li>Деление ( / )</li>
        </ul>
    </div>
</body>
</html>
{{ end }}