{{ define "layout" }}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Distributed Calculator</title>
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="icon" type="image/x-icon" href="../static/img/icon.png">
</head>
<body>
    <header class="topnav">
        <ul>
            <!-- <li><a href="/registration">Регистрация</a></li>
            <li><a href="/login">Войти</a></li> -->
            <li><a href="/home">Главная страница</a></li>
            <li><a href="/limits">Установить время выполнения операций</a></li>
            <li><a href="/expressions">Список выражений</a></li>
            <li><a href="/state">Состояние серверов</a></li>
            <img src="../static/img/icon.png">
            <li><a href="/logout" id="logout">Выйти</a></li>
          </ul>
    </header>
{{ end }}

