{{ define "limits" }}

{{ template "layout" }}

    <div class="main">
        <h1>Time limits set</h1>
        <form method="POST">
            <h3>Ограничение времени выполнения операций (секунды):</h3>
            <label>Сложение</label><br />
            <input type="number" name="add" min="0" placeholder="введите время"><br />
            <label>Вычитание</label><br />
            <input type="number" name="sub" min="0" placeholder="введите время"><br />
            <label>Умножение</label><br />
            <input type="number" name="mult" min="0" placeholder="введите время"><br />
            <label>Деление</label><br />
            <input type="number" name="div" min="0" placeholder="введите время"><br />
            <label>Время жизни сервера</label><br />
            <input type="number" name="lifetime" min="0" placeholder="введите время"><br />
            <input type="submit">
        </form>
        <h3>Установленные параметры:</h3>
        <ul>
            <li>Сложение: {{ .Add }} сек.</li>
            <li>Вычитание: {{ .Sub }} сек.</li>
            <li>Умножение: {{ .Mult }} сек.</li>
            <li>Деление: {{ .Div }} сек.</li>
            <li>Время жизни сервера: {{ .Lifetime }} сек.</li>
        </ul>
    </div>
</body>
</html>
{{ end }}
