<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Добро пожаловать!</title>
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="icon" type="image/x-icon" href="../static/img/icon.png">
</head>
<body>
    <div class="start">
        <h1>Distributed calculator</h1>
        <h3>Добро пожаловать!</h3>
        <button onclick="window.location.href = '/login'">Вход</button><br>
        <button onclick="window.location.href = '/registration'">Регистрация</button><br>
    </div>
</body>
</html>